################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WinSock2Cpp/.vs/Server And Client/v15
/WinSock2Cpp/x64/Debug
